html, body {
    width:100%;
    margin:0;
    padding:0;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

h1 {
    text-align:center;
    font-size: 3.5em;
    color: #051039;
}

#wheel {
    margin:auto;
    width:800px;
}

#wheel.click {
    cursor:pointer;
}

#wheel.wait {
    cursor:wait;
}